:root {
  --blanco: #FFFFFF;
  --blanco-2: #fafafa;
  --gris-1: #eaeaea;
  --gris-2: #999;
  --gris-3: #888;
  --gris-4: #666;
  --negro-1: #444;
  --negro-2: #333;
  --negro-3: #171717;
  --negro-4: #111;
  --negro: #000;
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
}

body {
  font-family: "Rubik", Arial, sans-serif;
  margin: 0;
  font-size: 18px;
  min-height: 554px;
}
body button {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  border: none;
  display: flex;
  align-items: center;
}
body header {
  background-image: url(./src/assets/images/pattern-bg-desktop.png);
  min-height: 280px;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 2;
  position: relative;
}
@media (max-width: 767px) {
  body header {
    padding: 24px;
  }
}
@media (max-width: 375px) {
  body header {
    background-image: url(./src/assets/images/pattern-bg-mobile.png);
    min-height: 300px;
  }
}
body header h1 {
  color: white;
  margin: 0;
  text-align: center;
}
body header .search {
  display: flex;
  justify-content: center;
  width: 100%;
}
body header .search input {
  padding: 8px 16px;
  border-radius: 12px 0 0 12px;
  font-weight: 400;
  border: none;
  min-width: 50px;
  max-width: 350px;
  width: 100%;
}
body header .search input ::placeholder {
  font-weight: 400;
}
body header .search button {
  border-radius: 0 12px 12px 0;
  color: var(--blanco);
  background-color: var(--negro-3);
  padding: 0 8px;
}
body header .search button:hover {
  background-color: var(--negro-2);
}
body header .search button svg {
  transform: scale(0.67);
}
body header .container {
  position: absolute;
  bottom: -30%;
  z-index: 30;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
@media (max-width: 767px) {
  body header .container {
    bottom: -300px;
  }
}
body header .container .dashboard {
  display: flex;
  border: 1px solid var(--Dark-Gray);
  border-radius: 12px;
  padding: 24px 0;
  box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.18);
}
body header .container .dashboard :last-child {
  border: none;
}
@media (max-width: 767px) {
  body header .container .dashboard {
    gap: 24px;
  }
}
body header .container .dashboard div {
  padding: 0 24px;
  border-right: 1px solid var(--Dark-Gray);
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  body header .container .dashboard div {
    align-items: center;
    justify-content: center;
    border-right: none;
  }
}
body header .container .dashboard div span {
  font-size: 12px;
  color: var(--Dark-Gray);
  font-weight: 500;
}
body header .container .dashboard p {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 767px) {
  body header .container .dashboard p {
    text-align: center;
  }
}
body div #map {
  min-height: 554px;
  position: relative;
  z-index: 1;
}
body footer {
  background: linear-gradient(126deg, rgb(17, 17, 17) 0%, rgb(9, 9, 121) 49%, rgb(0, 212, 255) 100%);
}
body footer div {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer div p {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: white;
}
body footer div p a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/*# sourceMappingURL=styles.css.map */
