:root {
    --blanco: #FFFFFF;
    --blanco-2: #fafafa;
    --gris-1: #eaeaea;
    --gris-2: #999;
    --gris-3: #888;
    --gris-4: #666;
    --negro-1: #444;
    --negro-2: #333;
    --negro-3: #171717;
    --negro-4: #111;
    --negro: #000;


    --Very-Dark-Gray: hsl(0, 0%, 17%);
    --Dark-Gray: hsl(0, 0%, 59%);
  }